<div class="container">
  <div class="page-content">
    <div class="margin-bottom">
      <div class="flex-1">
        <h2 class="app-title">
          Menu Voting Application
        </h2>
      </div>
      <div class="flex-1" id="search-box-div">
        <div class="navbar account-links">

          <ul *ngIf="accountService.currentToken === '' || accountService.currentToken === null || accountService.currentToken === undefined">
            <li>
              <a [routerLink]="[ '/login' ]">Login</a>
            </li>
            <li>
              <a [routerLink]="[ '/register' ]">Register</a>
            </li>
          </ul>

          <ul *ngIf="accountService.currentToken !== '' && accountService.currentToken !== null && accountService.currentToken !== undefined">
            <li>
              <a href="#" onclick="return false" (click)="logOutClicked()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar mb">

      <ul *ngIf="accountService.currentToken !== '' && accountService.currentToken !== null && accountService.currentToken !== undefined">
        <li>
          <a [routerLink]="[ '/menu-voting' ]" [routerLinkActive]="['nav-active']">menu-voting</a>
        </li>
        <li *ngIf="accountService.isAdmin">
          <a [routerLink]="[ '/menu-pool' ]" [routerLinkActive] = "['nav-active']">menu-pool</a>
        </li>
      </ul>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
