<div class="container">
  <header class="page-header margin-bottom flex items-center justify-between app-header">
    <nav class="navbar account-links">
      <ng-container *ngIf="!(auth.token$ | async); else loggedInLinks">
        <ul class="sign-in-header">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ul>
      </ng-container>

      <ng-template #loggedInLinks>
        <ul>
          <li>
            <a href="#" (click)="logOutClicked(); $event.preventDefault()">
              Logout
            </a>
          </li>
        </ul>
      </ng-template>
    </nav>
  </header>

  <nav class="navbar mb" *ngIf="auth.token$ | async">
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/menu-voting"
          routerLinkActive="nav-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Menu Voting
        </a>
      </li>
      <li *ngIf="auth.isAdmin$ | async">
        <a
          routerLink="/menu-pool"
          routerLinkActive="nav-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Menu Pool
        </a>
      </li>
    </ul>
  </nav>

  <!-- Routed views -->
  <main class="body page-content">
    <router-outlet></router-outlet>
  </main>
</div>
