<div *ngIf="isLoading" class="loader-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="flex" *ngIf="!isLoading">
  <div class="flex-1" *ngIf="poolExists">
    <form [formGroup]="menusForm">
      <div class="table-wrapper">
        <table class="table w-full table-container">
          <thead>
            <tr>
              <th>Select</th>
              <th>Dishes</th>
              <th *ngIf="isAdmin$ | async">Actions</th>
            </tr>
          </thead>

          <tbody formArrayName="menus">
            <tr
              *ngFor="
                let menuGroup of menusArray.controls;
                let i = index;
                trackBy: trackByMenu
              "
              [formGroupName]="i"
            >
              <td>
                <input
                  type="checkbox"
                  [checked]="
                    (selectedMenu$ | async) === menuGroup.get('id')!.value
                  "
                  (change)="selectMenu(menuGroup.get('id')!.value)"
                />
              </td>
              <td formArrayName="dishes" style="display: flex; gap: 10px">
                <ng-container
                  *ngFor="
                    let dishCtrl of getDishesControls(menuGroup);
                    let j = index
                  "
                >
                  <input
                    type="text"
                    [formControl]="dishCtrl"
                    [readonly]="!(isAdmin$ | async)"
                    class="form-input"
                  />
                  <span
                    class="text-grey"
                    *ngIf="j < getDishesControls(menuGroup).length - 1"
                  >
                  </span>
                </ng-container>
              </td>
              <td *ngIf="isAdmin$ | async">
                <button
                  class="button button-red-back ml"
                  type="button"
                  (click)="deleteMenu(i)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="flex" style="justify-content: flex-end">
          <button
            style="margin-top: 30px"
            type="button"
            class="button button-blue-back"
            (click)="vote()"
            [disabled]="!(canRevote$ | async)"
            [class.button-disabled]="!(canRevote$ | async)"
          >
            Vote
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="flex-1" *ngIf="!poolExists">
    <p>There is no menu pool.</p>
    <button
      class="button button-blue-back create-button"
      *ngIf="isAdmin$ | async"
      (click)="onCreatePool()"
    >
      Create Pool
    </button>
  </div>

  <div class="flex-1" *ngIf="poolExists && (isAdmin$ | async)">
    <!-- selector -->
    <form [formGroup]="postRowsForm" class="form-container mb">
      <label for="rows">Number of dishes:</label>
      <select id="rows" formControlName="rows" (change)="resizePostForm()">
        <option *ngFor="let n of rowOptions" [value]="n">{{ n }}</option>
      </select>
    </form>

    <!-- dynamically-sized inputs -->
    <div class="table-container">
      <form [formGroup]="postMenuForm" class="table">
        <table>
          <thead>
            <tr>
              <th>Enter dish</th>
            </tr>
          </thead>
          <tbody>
            <tr formArrayName="dishes" class="table-row">
              <td
                *ngFor="
                  let ctrl of postDishesFormArray.controls;
                  let i = index;
                  let last = last
                "
                [formGroupName]="i"
                [ngClass]="'table-data-' + rows"
              >
                <!-- wrap the input in a container we can target in CSS -->
                <div class="dish-input">
                  <input
                    type="text"
                    formControlName="value"
                    class="form-input-parameter"
                  />
                </div>
              </td>
            </tr>
            <tr class="table-row">
              <td style="width: 200px">
                <button
                  class="button button-blue-back"
                  (click)="postMenuSubmitted()"
                >
                  Create
                </button>
              </td>
              <td>
                <span
                  class="text-red"
                  *ngIf="!isInputValid && isPostMenuFormSubmitted"
                  >Incorrect input</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
